<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="left-navbar">
<!-- test burger button -->
<%#= render 'shared/burger-to-X' %>
<!-- test burger button -->
    <%= link_to "#", class: "navbar-brand" do %>
      <i class="fas fa-yin-yang" style="font-size: 40px"></i>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

    <!-- logo-yoga -->
  <div class="center-logo">
    <!-- <p>------------------------------------------------------------------</p> -->
    <%= render 'shared/logo' %>
    <!-- <p>------------------------------------------------------------------</p> -->
  </div>
    <!-- ---------------- -->

  <div class="right-navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%#= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Hatha Yoga", root_path( :anchor => "hatha" ) , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About me", root_path( :anchor => "about-me" ) , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Tarif", root_path( :anchor => "tarif" ) , class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
