<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="right-navbar burger-to-X">
    <%= render 'shared/burger-to-X' %>
  </div>

  <!-- logo-yoga -->
  <div class="center-logo">
    <%= render 'shared/logo' %>
  </div>

  <!-- right links---------------- -->
  <div class="right-navbar extended-menu">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%#= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Hatha Yoga", root_path( :anchor => "hatha" ) , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About me", root_path( :anchor => "about-me" ) , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Tarifs", root_path( :anchor => "tarifs" ) , class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>

