<%= render 'shared/navbar' %>
<!-- <div class="container"> -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540489648364-fcf95836d808?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1660&q=1080);">
    <div class="container-title">
      <h1>Béatrix Kiddo</h1>
      <h3> <%= t 'language' %> </h3>
      <p>Change your life and learn yoga.</p>
      <a class="btn btn-flat" href="#about-me">About me</a>
    </div>
  </div>
  <div class="container">
    <!-- hatha yoga info -->
    <div id="hatha">
      <div class="card-area">
        <div class="title-line"><h3>Hatha-Yoga</h3></div>
        <div class="card-info">
          <div class="content">
            <h4> <%= t('.hatha-yoga-title_html') %> </h4>
            <p> <%= t('.hatha-yoga-content_html') %> </p>
          </div>
          <div class="image-info img-right">
            <img src="https://images.unsplash.com/photo-1508133111629-be3f6e535a52" alt="yoga on the beach">
          </div>

        </div>

      </div>
    </div>


    <!-- about -->
    <div id="about-me">
      <div class="card-area">
        <div class="title-line"><h3>About me</h3></div>
        <div class="card-info">
          <div class="content">
          <div class="avatar-image">
            <%= image_tag "beakiddo.png", alt: "avatar", class: "avatar-large"%>
          </div>
            <h4>Béatrix Kiddo</h4>
            <p>
              <%= t('.about_html') %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- tarifs -->
    <div id="tarifs">
      <div class="card-area">
        <div class="title-line"><h3>Tarifs</h3></div>
        <div class="container-tarif">
          <div class="card-tarif card-img-a col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
            <div class="title">
              <h4>Cours collectifs</h4>
              <p>Cours collectifs de Hatha Yoga au centre national de l’Art de Vivre à Paris 11ème (Métro Nation, Rue des Boulets).</p>
            </div>
            <div class="tarif-end">
              <strong>Tarif:</strong>
              <p>Carte de 10 cours : 180 €</p>
            </div>
          </div>
          <div class="card-tarif card-img-b col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
            <div class="title">
              <h4>Cours individuel</h4>
              <p>Les cours individuels à domicile pour débutants et yogis confirmés s’adaptent à vos besoins. Les séances durent une heure ou une heure et demie. Elles se composent d’une phase dynamique à travers la réalisation et l’étude de différentes postures et d’une phase plus axée sur la relaxation, la méditation et la respiration (pranayamas).</p>
            </div>
            <div class="tarif-end">
              <strong>Tarif:</strong>
              <p>Carte de 10 cours : 180 €</p>
            </div>
          </div>
          <div class="card-tarif card-img-c col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
            <div class="title">
              <h4>Cours en entreprise</h4>
              <p>Des séances d’une heure adaptées aux profils et aux objectifs des participants. Idéal pour se libérer du stress, pour tonifier le système cardiovasculaire et pour améliorer globa-lement la santé.</p>
            </div>
            <div class="tarif-end">
              <strong>Tarif:</strong>
              <p>Carte de 10 cours : 180 €</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- images presentation -->
    <div class="container">
      <!-- <div class="images">
        <div class="card image-a"></div>
        <div class="card image-b"></div>
        <div class="card image-c"></div>
        <div class="card image-d"></div>
        <div class="card image-e"></div>
      </div> -->
    </div>
  </div>
<!-- </div> -->


<!-- footer -->
<%= render 'shared/footer' %>
